.footer-container {
    max-width: 1260px;
    background-color: #ffffff;
    margin: auto;
    padding: 5em;
    margin-bottom: 4.5em;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 16px;
    #copyright {
        font-family: $font3;
        text-transform: uppercase;
        color: #000000;
        font-size: .8em;
        line-height: 1.5em;
        span {
            display: inline;
            font-family: $font3;
            text-transform: uppercase;
            color: #000000;
            font-size: 1em;
            a:link {
                text-decoration: none;
                text-transform: uppercase;
                color: #000000;
                font-size: 1em;
            }

          }
          span:before {
            content: "\a ";
            white-space: pre;
          }
    }
   
}

#newsletter {
    border: 1px solid #000000;
    padding: 15px;
    font-family: $font2;
    text-transform: uppercase;
    margin-left: 2rem;
    &:link {
        font-family: $font2;
        text-transform: uppercase;
        text-decoration: none;
        color: #000000;
    }
    &:hover {
        font-family: $font2;
        text-transform: uppercase;
        text-decoration: none;
        color: #878787;
        border: 1px solid #887788;
    }
}


